.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.image-section {
  width: 100%;
}

.button-section {
  display: grid;
  align-items: start;
  justify-items: flex-end;
}

.new-image-btn {
  width: 6rem; 
  aspect-ratio: 16/9;
  background-color: #18191a;
  border: 2px solid #303846;
  transition: border 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #F5F6F7;
  margin: 2rem 4rem;
}

.new-image-btn:hover {
  border: 2px solid #3d9fd8;
  color: #3d9fd8;
  cursor: pointer;
  box-shadow: 2px 2px 4px, -2px -2px 4px;
}

.error-message {
  margin: 4rem 0 0 70%;
}