.message-popup {
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.message-popup--error {
  background-color: salmon;
}

.message-popup--success {
  background-color: #00c500;
}
