.gallery__control {
  display: flex;
  padding: 1rem;
}

.gallery__filter {
  width: 30%;
}

.gallery__edit {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.gallery__edit button {
  margin-left: 0.6rem;
}
