/* 
=======================
flex
=======================
*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.jc-start {
  justify-content: start;
}

/* 
=======================
colors
=======================
*/

.background-grey {
  background-color: #f2f2f2;
}

.background-salmon {
  background-color: salmon;
}

.salmon-hover:hover {
  background-color: salmon;
}

.grey-hover:hover {
  background-color: #e2e1e1;
}

/* 
=======================
cursor
=======================
*/

.pointer {
  cursor: pointer;
}
