/*
  colors
===========
black (background) - #18191A
lighter black (navbar) - #242526
grey blue (footer) - #303846
white (text) - #F5F6F7
blue (links) - #489AC9
*/

* {
  box-sizing: border-box;  
}

body, button, input {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #18191A;
  overflow-x: hidden;
}

.ck-editor__editable_inline {
  min-height: 80vh;
  max-height: 80vh;
  width: 50rem;
}