.container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  top: 100%;
  left: 0;
  background-color: #242526;
  width: 10rem;
  border: 2px solid #303846;
  border-radius: 6px;
  padding: 0.4rem 1rem;
  transform: scaleY(1) translate(-35%);
}

.dropdown a {
  margin: 0.4rem 0;
}

.dropdown-hidden {
  transform: scaleY(0);
}